{% extends 'base.html.twig' %}


{% block body %}
<div class="mentions">
    {% block header %}
        {% include "partials/_header.html.twig" %}
    {% endblock %}
    
    <h1>MENTIONS LÉGALES</h1>
    
<div class="parag">
<p>Le site doubledouble-studio.com est exploité par DOUBLE DOUBLE STUDIO, immatriculée en France sous le numéro Chambery B 904 132 248.</p>
<p>Le siège social de DOUBLE DOUBLE STUDIO est situé au 180 rue du genevois 73000 Chambéry .</p>
<p>Le directeur de la publication du site est MICHEL Guillaume.</p>
<p>Le site doubledouble-studio.com est hébergé par 3w Academy dont le siège social est situé à 46 rue René Clair à Paris (75018).</p>

<h2>Confidentialité</h2>

<p>Le site doubledouble-studio.com s'engage à protéger la vie privée de ses utilisateurs. Toutes les données personnelles collectées sur le site sont traitées de manière confidentielle et ne seront utilisées qu'aux fins précisées dans la déclaration de confidentialité du site.</p>

<h2>Conditions d'utilisation</h2>

<p>L'utilisation du site doubledouble-studio.com implique l'acceptation pleine et entière des conditions d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.</p>
<p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour cause de maintenance technique peut être toutefois décidée par DOUBLE DOUBLE STUDIO, qui s'efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l'intervention.</p>
<p>Le site doubledouble-studio.com est mis à jour régulièrement par MICHEL Guillaume. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s'imposent néanmoins à l'utilisateur qui est invité à s'y référer le plus souvent possible afin d'en prendre connaissance.</p>

<h2>Conditions de vente</h2>

<p>Les produits et services proposés sur le site doubledouble-studio.com sont soumis aux conditions de vente décrites ci-après. DOUBLE DOUBLE STUDIO se réserve le droit de modifier à tout moment ces conditions de vente. En cas de modification, les conditions de vente applicables seront celles en vigueur à la date de la commande par l'acheteur.</p>
</div>
</div>
{% endblock %}
