{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% block header %}
		{% include "partials/_header.html.twig" %}
	{% endblock %}
	<form method="post">

		<h1 class="login-title">Please sign in</h1>

		<div class="login-form">
			{% if error %}
				<div class="alert">Votre nom d'utilisateur ou mot de passe est incorrect</div>
			{% endif %}

			<label for="inputUsername" class="login-label">Nom d'utilisateur</label>
			<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-case" autocomplete="username" required autofocus>
			<br>
			<label for="inputPassword" class="login-label">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-case" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<br>
			<button class="valid-button" type="submit">Valider</button>
		</div>
	</form>
{% endblock %}
