{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}


{% block body %}
	{% block header %}
		<div class="index">
			{% include "partials/_header.html.twig" %}

		{% endblock %}

		<section class="section-index">
			<div class="client">
				<h2>Clients</h2>
				<ul>
					<li>TEST</li>
					<li>je test</li>
					<li>collectivité de corse</li>
					<li>je teste juste la longueur des projets</li>
					<li>ceci est un petit test</li>
					<li>oui oui encore un test ahah</li>
				</ul>
			</div>
			<div class="service">
				<h2>Services</h2>
				<ul>
					<li>Architecture</li>
					<li>Art</li>
					<li>Art direction</li>
					<li>Book</li>
					<li>Brand identity</li>
					<li>Campaign</li>
					<li>Consulting</li>
					<li>Creative strategy</li>
					<li>Fashion</li>
					<li>Ideation</li>
					<li>Interior design</li>
					<li>Magazine</li>
					<li>Object</li>
					<li>Publishing</li>
					<li>Sceography</li>
					<li>Textile</li>
					<li>Typographie</li>
					<li>Web</li>
				</ul>
			</div>
			<div class="snake">
				<h2>Snake</h2>
			</div>
		</section>
	</div>

{% endblock %}
