{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}



{% block body %}
{% block header %}
	<div class="index">
		{% include "partials/_header.html.twig" %}
	
{% endblock %}

	<section>
		<div>
			<h2>CLIENTS</h2>
		</div>
		<div>
			<h2>SERVICES</h2>
		</div>
		<div>
			<h2>SNAKE</h2>
		</div>
	</section>
{% endblock %}

{% block footer %}
	{% include "partials/_footer.html.twig" %}
</div>
{% endblock %}
