{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}



{% block body %}
{% block header %}
	<div class="index">
		{% include "partials/_header.html.twig" %}
	
{% endblock %}

	<section>
		<div class ="client">
			<h2>CLIENTS</h2>
		</div>
		<div class="service">
			<h2>SERVICES</h2>
		</div>
		<div class="snake">
			<h2>SNAKE</h2>
		</div>
	</section>
</div>

{% endblock %}