{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block body %}
		
		{% block header %}
		<div class="home" id="scroll">
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		<h1>DOUBLE DOUBLE STUDIO EST UN BUREAU DE DIRECTION CRÉATIVE ET DE CONSEILS QUI CONÇOIT DES IMAGES,<br/>
			DES ESPACES, DES VÊTEMENTS, DES CAMPAGNES.</h1>
		<div class="arrow" id="clic">
			<img src="../public/images/fleche.png" alt="Arrow">
		</div>
		</div>
		
		<video class ="fullscreen" id="video" src="../public/images/Video.mp4" autoplay="" muted="" loop="" playsinline="" >
		</video>

		

		
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
		
{% endblock %}