{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block header %}
	<div class="home">
		{% include "partials/_header.html.twig" %}
	</div>
{% endblock %}

{% block body %}
<div class="home">
	<h1>DOUBLE DOUBLE STUDIO EST UN BUREAU DE DIRECTION CRÉATIVE ET DE CONSEILS QUI CONÇOIT DES IMAGES,<br/>
		DES ESPACES, DES VÊTEMENTS, DES CAMPAGNES.</h1>
	<div>
		<img src="../templates/images/fleche.png">
		<img src="../templates/images/terrain.png">
	</div>
</div>
{% endblock %}
