{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block body %}
{% block header %}
<div class="">
	{% include "partials/_header.html.twig" %}
{% endblock %}
    <div>
        <h1>Ajouter un projet</h1>    
    </div>
    {{ form(form) }}

{% endblock %}
{% block footer %}
	{% include "partials/_footer.html.twig" %}
{% endblock %}