{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block body %}
<div class="titre-projet">
	<h2> {{ projects.id }}//{{ projects.title }}</h2>
</div>


{% endblock %}
{% block footer %}
	{% include "partials/_footer.html.twig" %}
{% endblock %}
