{% extends 'base.html.twig' %}

{% block title %}DOUBLE DOUBLE STUDIO
{% endblock %}

{% block body %}
    {% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
    <h2>La gallerie de nos projets</h2>
    
    

{% endblock %}
    